<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>

    <meta property="og:site_name" content="Cine Rave">
    <meta property="og:title" content="<%= titulo %>">
    <meta property="og:description" content="Assista agora">
    <meta property="og:image" content="<%= capa %>">
    <meta property="og:type" content="video.other">
    
    <meta property="og:video" content="<%= video %>">
    <meta property="og:video:url" content="<%= video %>">
    <meta property="og:video:secure_url" content="<%= video %>">
    <meta property="og:video:type" content="video/mp4">

    <style>
        body { margin: 0; background: #000; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; color: white; font-family: sans-serif; text-align: center; }
        .btn { background: #E50914; color: white; padding: 15px 30px; border-radius: 5px; text-decoration: none; font-weight: bold; margin-top: 20px; display: inline-block; font-size: 18px; }
        .sub-btn { color: #aaa; font-size: 12px; margin-top: 20px; display: block; text-decoration: none; }
    </style>
</head>
<body>

    <h2><%= titulo %></h2>
    <img src="<%= capa %>" style="width: 150px; border-radius: 10px; margin: 20px 0;">
    
    <br>
    
    <a href="<%= video %>" class="btn">CLIQUE PARA TOCAR</a>
    
    <a href="/" class="sub-btn">Voltar</a>

</body>
</html>